In [1]:
import mysql.connector as sql, pandas as pd, time as T

In [2]:
sch = pd.read_csv('schools.csv')

In [3]:
sch.head()

                               Name      \tlat        lon
0                 KDPM high school   17.729356  83.338332
1        GVMC PRIMARY SCHOOL WATAIR  17.723302  83.331254
2   GVMC primary school pedawaltair  17.735657  83.335184
3  GVMC Primary School M.V.P.Colony  17.743793  83.341645
4  GVMC Primary school venkojipalem  17.746305  83.326900

In [4]:
sch.columns

Index([u'Name', u'\tlat', u'lon'], dtype='object')

In [34]:
sch.loc[92]

Name     GVMC primary school Mulagada housing colony
\tlat                                         17.697
lon                                           83.223
Name: 92, dtype: object

In [42]:
len(sch.loc[0][2]),sch.loc[0][4]

(17, 'High')

In [8]:
db_connection = sql.connect(database='test_db', user='root', password='mysql')
db_cursor = db_connection.cursor()

In [9]:
db_cursor.execute('desc locations;')

In [10]:
table_rows = db_cursor.fetchall()
df = pd.DataFrame(table_rows)
print df
ma = df.as_matrix()
#print ma

     0            1    2    3     4 5
0   id      int(11)   NO  PRI  None
1  lat  varchar(20)  YES       None
2  lon  varchar(20)  YES       None

In [20]:
ki=1

In [38]:
for ki in xrange(2,94):
    db_cursor.execute('insert into locations (id,lat,lon) values('+str(ki)+','+str(sch.loc[ki-1][1])+','+str(sch.loc[ki-1][2])+');');

In [37]:
for i in xrange(2,94):
    print i,

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93

In [39]:
db_cursor.execute('commit;');

In [28]:
db_cursor.execute('delete from locations where id=1;')

In [16]:
df.head()

                    0            1   2 3     4 5
0  Name_of_the_school  varchar(48)  NO    None
1      Type_of_school  varchar(13)  NO    None
2         Head_Master  varchar(24)  NO    None
3     School_strength      int(11)  NO    None
4   Nonteaching_staff      int(11)  NO    None

In [41]:
df,sch.loc[1]

(              0             1    2    3     4 5
 0            id       int(11)   NO  PRI  None
 1         sname   varchar(40)  YES       None
 2          Type   varchar(10)  YES       None
 3            hm   varchar(20)  YES       None
 4      stucount       int(11)  YES       None
 5        staffp       int(11)  YES       None
 6        staffh       int(11)  YES       None
 7      nonstaff       int(11)  YES       None
 8       boyscnt       int(11)  YES       None
 9      girlscnt       int(11)  YES       None
 10       sratio  decimal(3,2)  YES       None
 11        drops       int(11)  YES       None
 12      passper  decimal(3,2)  YES       None
 13   facilities  varchar(100)  YES       None
 14  sfacilities  varchar(100)  YES       None
 15     dbusstop  decimal(3,3)  YES       None
 16       medium   varchar(10)  YES       None
 17      remarks  varchar(100)  YES       None  ,
 Timestamp                                                    2/15/2018 12:45:12
 Email Address                                              tannu.2112@gmail.com
 Name of the school                                   GVMC PRIMARY SCHOOL WATAIR
 Location                                      17.723302499999996,83.33125390625
 Type of school                                                          Primary
 Head Master                                                      G. Krishnaveni
 School strength                                                             123
 Staff(Primary)                                                                3
 Staff(High)                                                                   0
 Non-teaching staff                                                            1
 Total no. of boys                                                            39
 Total no. of girls                                                           84
 Sex ratio                                                                 39:84
 Dropouts                                                                      3
 Pass percentage of 2016-17                                                  100
 Facilities                    Toilets, Safe Drinking Water, Biometric attend...
 Sports Facilities                                                   Play ground
 Proximity to the bus stop                                                    1m
 Medium of instruction                                                      Both
 Remarks                                                            Smart school
 Image                         https://drive.google.com/open?id=1XSlyDvUY4wVh...
 Name: 1, dtype: object)

In [10]:
for i in xrange(18):
    print ma[i,0],

1 8 11 21 36 40 46 48 57 58 61 63 68 69 72 74 79 81

In [39]:
k=1

In [44]:
i=0
db_cursor.execute('insert into details(id , sname , Type , hm ,stucount , staffp , staffh , nonstaff , boyscnt , girlscnt , sratio , drops , passper , facilities , sfacilities , dbusstop , medium , remarks) values ('+k+','+sch.loc[0][2]+','+sch.loc[0][4]+','+sch.loc[0][5]+','+sch.loc[0][6]+','+sch.loc[0][7]+','+sch.loc[0][8]+','+sch.loc[0][9]+','+sch.loc[0][10]+','+sch.loc[0][11]+','+sch.loc[0][12]+','+sch.loc[0][13]+','+sch.loc[0][14]+','+sch.loc[0][15]+','+sch.loc[0][16]+','+sch.loc[0][17]+','+sch.loc[0][18]+','+sch.loc[0][19]+';')

TypeError: cannot concatenate 'str' and 'int' objects

In [ ]:
#db_connection.close()